/* fontes */
@font-face { /* adicionar fonte*/
    font-family: texto; /* nome da fonte */
    src: url(../fontes/coolvetica\ rg.otf); /* local aonde está a fonte */
}
@font-face { /* adicionar fonte*/
    font-family: dodger; /* nome da fonte */
    src: url(../fontes/dodger3superital.ttf); /* local aonde está a fonte */
}
@font-face { /* adicionar fonte*/
    font-family: tires; /* nome da fonte */
    src: url(../fontes/MAGNETOB.TTF); /* local aonde está a fonte */
}
/* body */
body{ /* modifica toda a página */
    background-image: linear-gradient(90deg, rgba(38,3,3,1) 5%, rgba(88,15,15,1) 30%, rgba(152,0,0,1) 50%, rgba(88,15,15,1) 70%, rgba(38,3,3,1) 95%);/* fundo com gradient*/
    color: rgb(0, 71, 88); /* cor das letras*/
    margin: 0; /*retirar margem da pagina*/
}
/* header */
header{
    background-color: var(--background); /* cor de fundo do header*/
    display: flex; /* posicionar os elementos do header */
    justify-content: center; /* alinhar o header ao centro*/
    align-items: center; /* posicionar ao centro em relação ou topo e em baixo */
}
#h1header{ /* modificar o título no header*/
    font-family: tires; /* fonte usada*/
    color: black; /* cor da fonte*/
    font-size: 3rem; /* tamanho da fonte*/
    text-shadow: /* borda nas letras*/
    -1px -1px 0px blue, 
    -1px 1px 0px blue,      
     1px -1px 0px blue,    
     1px 0px 0px blue;
    text-decoration: none; /* retirar o underline no link*/
    transition: 0.3s;
}
#h1header:hover{ /* animação ao passar o curso*/
    text-decoration: underline; /* deixar o título sublinado*/
    text-shadow: /* mudar a cor da borda da letra*/
    -2px -2px 0px #ac3840, 
    -2px 2px 0px #ac3840,      
     2px -2px 0px #ac3840,    
     2px 0px 0px #ac3840;
}
.pagina{ /* espaço entre o título e os links*/
    padding-left: 30px; /* tamanho do espaço*/
}
header li{ /* lista no header */
    padding-left: 15px; /* espaço entre cada elemento da lista*/
    display: inline-flex; /* colocar a lista em linha*/
}
.headera{ /* mudar os links da lista*/
    text-decoration: none; /* retirar a decoração do texto*/
    font-size: x-large; /* tamanho da fonte*/
    font-family: texto; /* fonte usada*/
    transition: 0.2s;
    color: blue;
}
.headera:hover{ /* animação do link no header ao passar o cursor*/
    color: #ac3840; /* cor da letra*/
    text-shadow: /* mudar a cor da borda da letra*/
    -1px -1px 0px black, 
    -1px 1px 0px black,      
     1px -1px 0px black,    
     1px 0px 0px black;
    padding: 4px; /* espaço entre a borda e o texto*/
    font-size: x-large; /* tamanho da fonte*/
    text-decoration: underline; /* deixar o título sublinado*/
}
#imgheader{ /* logo no header*/
    width: 10rem; /* tamanho da logo*/
}
/* main */
.fundo h1{
    text-align: center;
    font-family: dodger;
    color: #030018;
    text-shadow: 
    -2px -2px 0px #e70000, 
    -2px 2px 0px #e70000,      
     2px -2px 0px #e70000,    
     2px 0px 0px #e70000;
     font-size: xx-large;


}
.fundo{
    margin-top: 2rem;    
    border: 1px solid var(--borda);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 23%;
    margin-right: 23%;
    background-color: var(--background);
    border-radius: 5rem;
    color: var(--color);
}
.fundo p{
    font-family: texto;
    text-indent: 25px;
    font-size: large;
}
.fundo img{
    width: 35rem;
    margin: auto;
    display: block;
    border: 5px solid rgb(31, 0, 31);
    box-shadow: 0 0 10px 8px  rgb(31, 0, 31), inset
    0 0 10px 2px rgb(31, 0, 31);
    border-radius: 18px;
}
figcaption{
    text-align: center;
    font-size: small;
}
/* modo */
:root{
    --background: aliceblue; /* variável da cor de fundo */
    --color: black ; /* variável da cor da letra */
    --borda: aliceblue; /* variável da cor da borda*/
    --bordasol: 10px solid #2c2726; /* variável para borda da imagem do sol */
}
:root:has(#dark:checked){ /* checkbox  marcada*/
    --background: #2C2726; /* variável da nova cor de fundo*/
    --color: aliceblue; /* variável da nova cor de letra*/
    --borda: #2c2726; /* variável da nova cor da borda*/
    --semlua: none; /* retirar a imagem da lua*/
    --bordasol: 10px solid aliceblue; /* borda da imagem do sol*/
}
:root:has(#dark:not(:checked)){ /* checkbox não marcada*/
    --semsol: none; /* retirar imagem do sol*/
}

.menu{ /*quadrado onde fica a imagem de trocar modo*/
    background-color: var(--background); /* cor de fundo*/
    display: flex; /* posicionamento*/
    margin-left: 82%; /* margem esquerda*/
    margin-right: 23%; /*margem direita*/
    border-radius: 2rem; /* arrendodar a borda*/
    position: absolute; /* ficar separado do main*/
    padding-left: 2rem; /* espaço entre a borda para a esquerda*/
    padding-right: 2rem; /* espaço entre a borda para a direita*/
    padding-bottom: 1rem; /* espaço entre a borda para baixo*/
    top: 8.3rem; /* espaço do header*/
    border: var(--bordasol); /* borda */
    text-align: center; /* alinar ao centro*/
    color: var(--color); /* cor da letra */
}
#menudark{ 
    cursor: pointer; /* mudar cursor*/
}
#dark{
    display: none; /* retirar a checkbox*/
}
#lua{ /* imagem da lua*/
    width: 3rem; /* tamanho da imagem*/
    display: var(--semlua); /* retirar imagem*/
}
#sol{
    width: 3rem; /* tamanho da imagem*/
    display: var(--semsol); /* retirar imagem*/
}
/* footer */
footer{
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    color: var(--color);
}
footer img{
    width: 15rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 5px;
    border-radius: 2rem;
    box-shadow:
    inset 60px 0 120px rgba(255, 106, 106, 0.493), 
    inset -60px 0 120px rgba(247, 180, 57, 0.603);     
}

#rodape{
    padding: 2rem;
}
footer p{
    padding: 0;
    margin: 0;
    font-size: larger;
}
#footer2 h2{
    text-align: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(231,0,0,1) , rgba(231,135,0,1) , rgba(231,0,0,1) );
    color: white;
    text-shadow: /* mudar a cor da borda da letra*/
    -2px -2px 0px black, 
    -2px 2px 0px black,      
     2px -2px 0px black,    
     2px 0px 0px black;
     font-family: tires;
}
/* index */
.index{
    background-image: url(../imagens/fundoindex.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
}
/* mourvan */
#mourvan{
    border: 1px solid none; /* borda */
    background-image: linear-gradient(90deg, rgba(3,0,231,0.8183648459383753) 0%, rgba(15,0,231,0.8211659663865546) 30%, rgba(145,0,15,0.7483368347338936) 63%, rgba(231,0,0,0.7903536414565826) 100%); /* fundo gradient*/
    padding: 1rem; /* espaço entre o titulo e a borda */
    background-size: 500% 100%; /* tamaho do fundo */
    border-radius: 5rem; /* arrendondar a borda */
    animation: mourvan 2s alternate infinite; /* animação do fundo*/
}
@keyframes mourvan{ /* animação*/
    0%{
        background-position-x: 0%; /* mudar posição do fundo */
    }
    100%{
        background-position-x: 100%; /* mudar posição do fundo */
    }
}
/* matheus */
.meza:hover{
    border: 5px solid gold; /* borda */
    border-radius: 5rem; /* arrendondar borda */
}
#mezah1{ 
    color: red; /* cor do texto */
    text-decoration: underline; /* sublinado do texto */
    text-shadow: /* mudar a cor da borda da letra*/
    -1px -1px 0px black, 
    -1px 1px 0px black,      
     1px -1px 0px black,    
     1px 0px 0px black;
}
/* vinicius */